*{
	box-sizing: border-box;
}
.quiz {
 max-width: 100%;
 width: 350px;
 background: #e5e5e5;
 
 margin: auto;
 
}
h2 {
	text-align: center;
	background: black;
	color: white;
}

.ansButton {
	color: green;
	margin: 0.5rem;
	font-weight: bold;
}

.score {
	color: purple;
	text-align: center;
}
button {
	text-align: center;
	font-weight: bold;
	background-color: #e5e5e5;
}
